@font-face {
  font-family: coolvetica;
  src: url("../fonts/coolvetica.otf");
}

.container {
	font-family: coolvetica;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 15vh;
}

.third {
	margin-left: 15px;
}

.box-container {
	overflow-y: scroll;
}

.box-image {
}

.box-img {
	width: 100%;
}

.box-info {
	padding: 3%;
}

.box {
	font-family: arial;
	border-radius: 25px;
	padding: 5%;
	background-color: #e8e8e8;
	margin-bottom:5%;
}

.box-heading {
	font-size: 5vh;
	font-family: coolvetica;

}

.box-container::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.box-container::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}
.box-container::-webkit-scrollbar-thumb {
  background-color: transparent;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid transparent;  /* creates padding around scroll thumb */
}
.box-container::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    background-color: transparent;
}

#home {
	background: #fff;
	border: 2px solid #b6b6b6;
	padding: 5px;
  border-radius: 20%;
  transition-duration: .3s;
}

#home:hover {
	background: #e8e8e8;
    
}