.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 15vh;
}

.third {
	
}

#home {
	background: #f0f0f0;
	padding: 5px;
    border-radius: 20%;
    display: block;
}

#home:hover {
	background: #383838;
    
}