{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}[ home ]{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock %}

{% block content %}
	<div class="container">
		<div class="content">
			<div class="title">
				<div class="re">re<span class="colon"></span></div>
				<div class="focus">focus</div>
			</div>
			
			{% if user.is_authenticated %}
				<div class="tab-list">
					<div class="tab-item">
						<a href="/schedule/" class="tab-item">→ schedule</a>
					</div>
					<div class="tab-item">
						<a href="/tutorial/" class="tab-item">→ tutorial</a>
					</div>
					<div class="tab-item">
						<a href="/analytics/" class="tab-item">→ analytics</a>
					</div>
					<div class="tab-item logout">
						<a href="/accounts/logout/" class="tab-item logout">→ logout</a>
					</div>
				</div>
			{% else %}
				<div class="tab-list">
					<div class="tab-item">
					    <a href="{% provider_login_url 'google' %}" class="tab-item">→ login w/ google</a>
					</div>
			    </div>	
			{% endif %}
		</div>
	</div>
{% endblock %}


