{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}[ home ]{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock %}

{% block content %}
	<div class="container">
		<div class="content">
			<div class="title">
				<div class="re">re<span class="colon"></span></div>
				<div class="focus">focus</div>
			</div>
			
			{% if logged_in %}
			<div class="tab-list">
				<div class="tab-item">
					→ schedule
				</div>
				<div class="tab-item">
					→ tutorial
				</div>
				<div class="tab-item">
					→ analytics
				</div>
			</div>
			{% else %}
			    {% if user.is_authenticated %}
				    <div>
				    	<p>Welcome. You are logged in as {{user.username}} </p>
				    </div>
			    {% else %}
			    	hey
			    	<a href="{% provider_login_url 'google' %}">Login with Google</a>
			    {% endif %}
			{% endif %}
		</div>
	</div>
{% endblock %}


