{% extends "base.html" %}{% load static %}
{% load socialaccount %}

{% block title %}[ schedule ]{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@2.6.0/event-calendar.min.css">
<link rel="stylesheet" href="{% static 'css/schedule.css' %}">

<script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@2.6.0/event-calendar.min.js"></script>
{% endblock %}

{% block content %}
    <div class=".ec-container">
        <div id="ec"></div>
    </div>


    <script src="{% static 'js/schedule.js' %}"></script>
    
    <div id="modalContainer" style="display: none;">
        <div id="modalBox"></div>
    </div>
{% endblock %}