{% extends "base.html" %}{% load static %}
{% load socialaccount %}

{% block title %}[ tutorial ]{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'css/tutorial.css' %}">{% endblock %}

{% block content %}


<div class="container">
	<div></div>

	<div class="box-container">
		<div class="box">
			<div class="box-heading">Step 1</div>
			<div class="box-info">
				Open the Shortcuts app on your iPhone.
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>

		<div class="box">
			<div class="box-heading">Step 2</div>
			<div class="box-info">
				Tap on the automations tab at the bottom of the screen.
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>

		<div class="box">
			<div class="box-heading">Step 3</div>
			<div class="box-info">
				Tap on the plus sign located on the top right of the screen.
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>

		<div class="box">
			<div class="box-heading">Step 4</div>
			<div class="box-info">
				Tap "Create Personal Automation".
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>

		<div class="box">
			<div class="box-heading">Step 5</div>
			<div class="box-info">
				Scroll down and tap "App"
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>

		<div class="box">
			<div class="box-heading">Step 6</div>
			<div class="box-info">
				Scroll down and tap "App", then select "Is Opened"
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>

		<div class="box">
			<div class="box-heading">Step 7</div>
			<div class="box-info">
				Tap "choose" and select all apps you would like to track.
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>

		<div class="box">
			<div class="box-heading">Step 8</div>
			<div class="box-info">
				Tap "choose" and select all apps you would like to track.
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>

		<div class="box">
			<div class="box-heading">Step 9</div>
			<div class="box-info">
				Tap "Done", "Next" and "Add Action"
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>

		<div class="box">
			<div class="box-heading">Step 10</div>
			<div class="box-info">
				Search for "Get Contents of URL" and enter this URL: "https://my-api-name-one.vercel.app/api/v1/number?param=A"
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>

		<div class="box">
			<div class="box-heading">Step 11</div>
			<div class="box-info">
				Using the menu above the keyboard, select "Current Date" and change the date format to ISO861. Tick off ISO 8601 Time.
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>

		<div class="box">
			<div class="box-heading">Step 12</div>
			<div class="box-info">
				Add a second variable for "Device Details", and select "Device Hostname" in the list below.
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>


		<div class="box">
			<div class="box-heading">Step 13</div>
			<div class="box-info">
				Tap "done", "edit automation", and untick "Ask Before Running"
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>

		<div class="box">
			<div class="box-heading">Step 14</div>
			<div class="box-info">
				Tap "Done" and repeat all steps again, except change step 6 to "Is closed" and change the URL in step 10 to "https://my-api-name-one.vercel.app/api/v1/number?param=B"
			</div>
			<div class="box-image">
				<img class="box-img" src="{% static 'images/home.svg' %}" alt="home" >
			</div>
		</div>
	</div>

	<a class="third" href="/home/">
		<img src="{% static 'images/home.svg' %}" alt="home" id="home" width="50">
	</a>

</div>


{% endblock %}