{% load i18n %}
{% load allauth %}

{% block content %}
    
    {% element form method="post" no_visible_fields=True id="theform" %}
        {% slot actions %}
            {% csrf_token %}
            {% element button type="submit" id="bbbutton" hidden="hidden" %}
                
            {% endelement %}
        {% endslot %}
    {% endelement %}

    <script>            
        document.addEventListener("DOMContentLoaded", function(event) {
            console.log("yeahh")
            var button = document.getElementById('bbbutton');
            button.form.submit();
        });         
    </script>

{% endblock content %}
